<!DOCTYPE html>
<html>
   <head>
      <title>Leaf</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'leaf', media: 'all' %>
      <%= javascript_pack_tag 'leaf' %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="//fonts.googleapis.com/css2?family=Jost:wght@400;500;600" rel="stylesheet">
   </head>
   <body class="app-body<% if device == "mobile" %> is-mobile<% end %>">
      <!--The application is rendered at runtime on client-side-->
      <div id="leaf"></div>
      <noscript data-path="<%= request.env['PATH_INFO'] %>">
         <div>
            <!-- Fallback in case of JavaScript disabled / Crawler -->
            <%= yield %>
            <!-- End of Fallback -->
         </div>
      </noscript>
      <script type="text/javascript">
         window.Leaf = {};
      </script> 
   </body>
</html>